@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
/* font-family: "Quicksand", sans-serif; */
/* font-family: "Poppins", sans-serif; */

/* html {
        scroll-behavior: smooth;
    } */

body {
    font-family: "Poppins", sans-serif !important;
}

:root {
    --primary-color: #04AA6D;
    --dark-color: #333;
}

section {
    max-width: 1440px;
    margin: 0 auto;
}

nav {
    top: 0;
    background-color: var(--primary-color);
    color: white;
    width: 95%;
    transition: top 0.5s;
}

nav .navbar-brand {
    font-family: "Quicksand", sans-serif;
}

nav .collapse ul li {
    padding: 0 1rem;
}

nav .collapse ul li a {
    color: white;
}

nav .collapse ul li a:hover {
    transition: .3s ease-out;
    background-color: rgba(255, 255, 255, 0.769);
}

.dropdown:hover .dropdown-toggle {
    background-color: rgba(255, 255, 255, 0.769);
    color: var(--dark-color);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

nav .dropdown ul li a {
    color: black;
    transition: .3s;
}

nav .dropdown ul li a:hover {
    color: var(--primary-color);
    transform: translateX(-10px);
}

@media (max-width:400px) {
    nav .navbar-nav {
        padding-bottom: 1rem;
    }
}

/* //////////////////////EFFECTS-START///////////////////////////////// */

.scroll-up-effect {
    position: relative;
    transition: transform 0.3s ease;
}

.zoom-in-zoom-out {
    animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.096, 1.096);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* //////////////////////EFFECTS_END//////////////////////////////////// */

/* /////////////////////////LANDING PAGE ///////////////////*/


.landing-page {
    overflow-x: hidden;
    padding: 7rem 0;
}

.landing-page .content {
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
}

.landing-page .content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    background: linear-gradient(to right, var(--primary-color) 35%, var(--dark-color));
    -webkit-background-clip: text;
    color: transparent;
}

.landing-page .content p {
    font-family: "Quicksand", sans-serif;
}

.landing-page .giffiys img {
    border: 2px solid #52AA5E;
    box-shadow: 3px 3px salmon;
    width: 120px;
    height: 110px;
}

.landing-page .giffiys video {
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.landing-page .content {
    position: relative;
    transition: transform 0.3s ease;
}

.landing-page .content.button {
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.landing-page .content .button small {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.landing-page .content .button small:after {
    content: '\276F\276F';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.landing-page .content .button:hover small {
    padding-right: 15px;
}

.landing-page .content .button:hover small:after {
    opacity: 1;
    right: 0;
}

@media (max-width:1000px) {
    .landing-page .content h1 {
        font-size: 3rem;
    }

    .landing-page .giffiys video {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

@media (max-width:500px) {

    .landing-page .content h1 {
        font-size: 2.5rem;
    }

    .landing-page .giffiys img,
    .landing-page .giffiys video {
        width: 140px;
        height: 140px;
    }
}

/* //////////////OUR_SERVICES ///////////////*/

.Our-Services {
    background-image: url(images/bg-front-shade1.png);
    background-repeat: no-repeat;
}

.Our-Services .services-box {
    transition: .5s all ease-in-out;
    box-shadow: 3px 3px salmon;
    border-radius: 3rem;
    width: 75%;
    margin: 0 2rem;
}

.Our-Services .services-box:hover {
    transform: scale(.92);
    cursor: pointer;
}

.Our-Services .services-text,
.Our-Services .services-content {
    padding: 5rem 0 0 0;
    position: relative;
    transition: transform 0.3s ease;
}

.Our-Services .services-text .button,
.Our-Services .services-content .button {
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.Our-Services .services-text .button span,
.Our-Services .services-content .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.Our-Services .services-text .button span:after,
.Our-Services .services-content .button span:after {
    content: '\260E';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.Our-Services .services-text .button:hover span,
.Our-Services .services-content .button:hover span {
    padding-right: 25px;
}

.Our-Services .services-text .button:hover span:after,
.Our-Services .services-content .button:hover span:after {
    opacity: 1;
    right: 0;
}

.Our-Services .services-text h1,
.Our-Services .services-content h1 {
    font-size: 3rem;
    background: linear-gradient(to right, var(--primary-color) 35%, var(--dark-color));
    -webkit-background-clip: text;
    color: transparent;
}

.Our-Services .services-text p,
.Our-Services .services-content h1 {
    font-family: "Quicksand", sans-serif;
}

@media (max-width:1000px) {

    .Our-Services .services-box {
        width: 100%;
    }

    .Our-Services .services-box {
        margin: 0 2rem;
    }
}

@media (max-width:768px) {

    .Our-Services .services-box {
        margin: 1.5rem auto;
    }
}

@media (max-width:500px) {
    .Our-Services .services-content h1 {
        font-size: 2.5rem;
    }

    .Our-Services .services-box {
        margin: 1rem auto;
        width: 95%;
    }
}

/* /////////////////////OUR_TEAM///////////////////////////// */

.our-team {
    padding: 7rem 0;
    background-image: url(images/orange-blue-doodle.webp);
    background-repeat: no-repeat;
    background-position: left 50px;
}

.our-team h1 {
    font-size: 2.5rem;
    font-family: "Quicksand", sans-serif;
    background: linear-gradient(to right, var(--primary-color) 35%, var(--dark-color));
    -webkit-background-clip: text;
    color: transparent;
}

.our-team button {
    transition: all 0.5s;
    cursor: pointer;
}

.our-team button:hover {
    transform: scale(0.9)
}

.our-team button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.our-team button span:after {
    content: '\276F\276F';
    position: absolute;
    opacity: 0;
    top: 0;
}

.our-team button:hover span {
    padding-right: 20px;
}

.our-team button:hover span:after {
    opacity: 1;
    right: 0;
}

.our-team .our-team-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
}

.our-team .our-team-photo .ring-background {
    width: 350px;
    height: 350px;
    background: radial-gradient(circle, transparent 35%, #04aa6db5 35%, #04aa6db5 60%, transparent 60%);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.our-team .our-team-photo .ring-background::after {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}

.our-team .our-team-photo .center-img img {
    width: 120px;
    height: 120px;
}

.our-team .our-team-photo img {
    z-index: 1;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 1rem;
    margin: 2.7rem 0;
    box-shadow: -2px -2px salmon;
}

@media (max-width:800px) {

    .our-team {
        background-size: 100px;
        background-position: 50px 50px;
        padding: 0rem 0 5rem 0;
        overflow-x: hidden;
    }

    .our-team h1 {
        font-size: 2.5rem;
    }

    .our-team .our-team-photo img {
        width: 80px;
        height: 80px;
    }

    .our-team .our-team-photo .center-img img {
        width: 100px;
        height: 100px;
    }

    .our-team .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .our-team .our-team-photo .ring-background {
        width: 300px;
        height: 300px;
    }

    .our-team .our-team-photo img {
        margin: 2rem 0;
    }
}

@media (max-width:500px) {
    .our-team h1 {
        font-size: 2rem;
    }

    .our-team {
        padding: 0;
    }
}

@media (max-width:500px) {
    .our-team .our-team-photo img {
        width: 60px;
        height: 60px;
        box-shadow: -1px -1px salmon;
    }

    .our-team .our-team-photo .center-img img {
        width: 80px;
        height: 80px;
        box-shadow: -1px -1px salmon;
    }
}

/* //////////////////////////ABOUT_US//////////////////////// */

.about-us small {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 3px;
}

.about-us h1 {
    background: linear-gradient(to right, var(--primary-color), var(--dark-color) 40%);
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width:800px) {
    .about-us img {
        max-width: 70%;
    }

    .about-us {
        text-align: center;
    }

    .about-us h1 {
        font-size: 2.5rem;
    }
}

@media (max-width:768px) {
    .about-us img {
        max-width: 90%;
    }
}

@media (max-width:500px) {
    .about-us h1 {
        font-size: 2rem;
    }
}

/* /////////////////////////OUR_MISSION & VISION////////////////////// */

.our-mission-and-vision {
    background-color: aliceblue;
    padding: 2rem 0;
}


/* ///////////////REQUEST_CALL_BACK///////////////// */

.request-call-back {
    padding: 5rem 0;
    position: relative;
    z-index: 2;
    width: 95%;
    margin: 0 auto;
    object-fit: cover;
}

#background-video {
    height: 65vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(60%);
    border-radius: 2rem;
}

.request-call-back form textarea {
    width: 70%;
}

.request-call-back form input,
.request-call-back form textarea {
    padding: .5rem 2rem .5rem 1rem;
    border-radius: .5rem;
    border: 0;
    box-shadow: 2px 2px salmon;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


.request-call-back button {
    font-family: "Quicksand", sans-serif;
    transition: all 0.5s;
    cursor: pointer;
}

.request-call-back button:hover {
    transform: scale(0.9)
}

.request-call-back button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-weight: bold;
}

.request-call-back button span:after {
    content: '\276F\276F';
    position: absolute;
    opacity: 0;
    top: 0;
}

.request-call-back button:hover span {
    padding-right: 20px;
}

.request-call-back button:hover span:after {
    opacity: 1;
    right: 0;
}

@media (max-width:1200px) {
    #background-video {
        height: 80vh;
    }

    .request-call-back form input {
        width: 180px;
    }
}

@media (max-width:800px) {
    #background-video {
        height: 100vh;
    }

    .request-call-back form textarea {
        width: 65%;
    }
}

@media (max-width:600px) {
    #background-video {
        height: 100%;
    }

    .request-call-back form {
        display: flex;
        flex-direction: column;
    }

    .request-call-back form input {
        margin: .5rem 0;
    }

    .request-call-back form input,
    .request-call-back form textarea {
        width: 100%;
    }
}

/* ///////////////////////////////////SERVICES////////////////////// */

.Services {
    width: 95%;
    margin: 0 auto;
}

.Services .carousel img {
    width: 170px;
    height: 150px;
    object-fit: cover;
}

/* /////////////////////FOOTER //////////////////////////////*/

footer {
    font-family: "Quicksand", sans-serif;
    padding: 7rem 0 4rem 0;
}

footer .news-letter button {
    box-shadow: -2px -2px salmon;
}

footer ul li {
    line-height: 3rem;
}

footer ul li a {
    text-decoration: none;
    color: var(--dark-color);
    transition: .2s ease-in;
}

footer ul li a:hover {
    color: var(--primary-color);
}

footer .news-letter input[type=email]:focus {
    border: 1.5px solid salmon;
}

footer .btn-lg {
    box-shadow: -2px -2px salmon;
    background-color: #CFE2FF;
    transition: .4s ease-in-out;
}

footer .btn-lg:hover {
    background-color: salmon;
    transform: scale(.9);
}

footer .copyright a {
    color: var(--dark-color);
    transition: .3s ease-in;
}

footer .copyright a:hover {
    color: var(--primary-color);
}

@media (max-width:800px) {
    footer .col-4 {
        text-align: center;
    }

    footer .news-letter h4 {
        font-weight: bold;
    }

}

@media (max-width:400px) {
    footer .news-letter input {
        width: 200px;
    }

    footer .col-4 button {
        margin: .6rem 0;
    }
}